<div class="row">
    <div class="col-12">
        <h1 class="main-title">Iniciar sesión</h1>
    </div>

    <hr class="barra">
    <form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="register()">
        <div class="row justify-content-center">

            <mat-label class="titles">Nombre</mat-label>
            <mat-form-field appearance="outline" class="col-12  flex-form">
                <mat-label>Nombre</mat-label>
                <input class="" formControlName="nombre" type="text" matInput>
            </mat-form-field>
            <mat-label class="titles">Correo Electrónico</mat-label>
            <mat-form-field appearance="outline" class="col-12  flex-form">
                <mat-label>Correo Electrónico</mat-label>
                <input class="" formControlName="correo" type="mail" matInput>
            </mat-form-field>

            <mat-label class="titles">Contraseña</mat-label>
            <mat-form-field appearance="outline" class="col-12 flex-form">
                <mat-label>Contraseña</mat-label>
                <input class="content" formControlName="password" type="password" matInput>
            </mat-form-field>
            <div class="col-12">
                <button style="width: 90%; border-radius: 1rem;" mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid"
                    class="mat-elevation-z2">CREAR</button>
            </div>


        </div>
    </form>

    <div class="row c-additional">
        <div class="col-12 ">
            <p class="aux-text">¿Ya tienes cuenta? <a class="text" href="/auth">Acceder aquí.</a></p>
        </div>
    </div>
    <hr class="barra">
    <div class="row c-additional-II">
        <div class="col-12 text-center">
            <p class="aux-text">O puedes acceder usando:</p>
        </div>
        <div class="col-12 text-center">
            <button color="primary" class="mat-elevation-z4" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <g transform="matrix(1, 0, 0, 1, 27.009001, -39.238998)">
                      <path fill="#4285F4" d="M -3.264 51.509 C -3.264 50.719 -3.334 49.969 -3.454 49.239 L -14.754 49.239 L -14.754 53.749 L -8.284 53.749 C -8.574 55.229 -9.424 56.479 -10.684 57.329 L -10.684 60.329 L -6.824 60.329 C -4.564 58.239 -3.264 55.159 -3.264 51.509 Z"/>
                      <path fill="#34A853" d="M -14.754 63.239 C -11.514 63.239 -8.804 62.159 -6.824 60.329 L -10.684 57.329 C -11.764 58.049 -13.134 58.489 -14.754 58.489 C -17.884 58.489 -20.534 56.379 -21.484 53.529 L -25.464 53.529 L -25.464 56.619 C -23.494 60.539 -19.444 63.239 -14.754 63.239 Z"/>
                      <path fill="#FBBC05" d="M -21.484 53.529 C -21.734 52.809 -21.864 52.039 -21.864 51.239 C -21.864 50.439 -21.724 49.669 -21.484 48.949 L -21.484 45.859 L -25.464 45.859 C -26.284 47.479 -26.754 49.299 -26.754 51.239 C -26.754 53.179 -26.284 54.999 -25.464 56.619 L -21.484 53.529 Z"/>
                      <path fill="#EA4335" d="M -14.754 43.989 C -12.984 43.989 -11.404 44.599 -10.154 45.789 L -6.734 42.369 C -8.804 40.429 -11.514 39.239 -14.754 39.239 C -19.444 39.239 -23.494 41.939 -25.464 45.859 L -21.484 48.949 C -20.534 46.099 -17.884 43.989 -14.754 43.989 Z"/>
                    </g>
                  </svg>
              </button>
        </div>
    </div>
</div>